In [1]:
%load_ext autoreload

In [99]:
%autoreload 2

In [100]:
from kayak_scrape import get_flts, clean_flts
from itertools import chain
import pandas as pd
import numpy as np

In [101]:
#orig_list = ['DFW', 'DAL', 'TUL', 'XNA', 'DCA', 'IAD']
orig_list = ['DCA', 'IAD']
dest_list = ['SDF', 'LEX']
ob_dt_list = ['2025-08-14', '2025-08-13']
rtrn_dt = '2025-08-17'

In [102]:
col_order =['ob_dep_dt', 'ob_dep_tm', 'ob_arr_tm' ,'ob_airline' ,'ob_stops' ,'ob_orig_arpt' ,'ob_dest_arpt', 'rtrn_dep_dt','rtrn_dep_tm' ,'rtrn_arr_tm' ,'rtrn_airline' ,'rtrn_stops' ,'rtrn_orig_arpt' ,'rtrn_dest_arpt' ,'cabin' ,'fare'
                ,'bkng_link']

In [103]:
flts_df = pd.DataFrame(columns=col_order)

In [104]:
for orig in orig_list:
    for dest in dest_list:
        for ob_dt in ob_dt_list:
            kayak_url = f'https://www.kayak.com/flights/{orig}-{dest}/{ob_dt}/{rtrn_dt}?sort=bestflight_a'
            curr_od_df = clean_flts(get_flts(kayak_url))
            curr_od_df['ob_dep_dt'] = pd.to_datetime(ob_dt, format='%Y-%m-%d')
            curr_od_df['rtrn_dep_dt'] = pd.to_datetime('2025-08-17', format='%Y-%m-%d')
            curr_od_df = curr_od_df[col_order]
            flts_df = pd.concat([flts_df, clean_flts(get_flts(kayak_url))], ignore_index=True)

In [105]:
flts_df

,ob_dep_dt,ob_dep_tm,ob_arr_tm,ob_airline,ob_stops,ob_orig_arpt,ob_dest_arpt,rtrn_dep_dt,rtrn_dep_tm,rtrn_arr_tm,rtrn_airline,rtrn_stops,rtrn_orig_arpt,rtrn_dest_arpt,cabin,fare,bkng_link
0,NaN,8:20 am,10:16 am,American,0,DCA,SDF,NaN,7:51 am,9:29 am,American,0,SDF,DCA,Basic Economy,$229,https://www.kayak.com/book/flight?code=noAiFcf...
1,NaN,8:20 am,10:16 am,American,0,DCA,SDF,NaN,7:51 am,9:29 am,American,0,SDF,DCA,Main Cabin,$289,https://www.kayak.com/book/flight?code=noAiFcf...
2,NaN,7:45 pm,9:50 pm,American,0,DCA,SDF,NaN,7:51 am,9:29 am,American,0,SDF,DCA,Basic Economy,$263,https://www.kayak.com/book/flight?code=noAiFcf...
3,NaN,7:45 pm,9:50 pm,American,0,DCA,SDF,NaN,7:51 am,9:29 am,American,0,SDF,DCA,Main Cabin,$323,https://www.kayak.com/book/flight?code=noAiFcf...
4,NaN,1:44 pm,3:41 pm,American,0,DCA,SDF,NaN,7:51 am,9:29 am,American,0,SDF,DCA,Basic Economy,$263,https://www.kayak.com/book/flight?code=noAiFcf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,NaN,7:00 am,11:28 am,United,1,IAD,LEX,NaN,7:30 am,11:43 am,United,1,LEX,IAD,Economy,$403,https://www.kayak.com/book/flight?code=noDCOLn...
236,NaN,2:08 pm,5:41 pm,American,1,IAD,LEX,NaN,3:56 pm,7:33 pm,American,1,LEX,IAD,Main Cabin,$556,https://www.kayak.com/book/flight?code=noDCOLn...
237,NaN,2:08 pm,5:41 pm,American,1,IAD,LEX,NaN,3:56 pm,7:33 pm,American,1,LEX,IAD,Main Plus,$660,https://www.kayak.com/book/flight?code=noDCOLn...
238,NaN,8:35 am,1:13 pm,United,1,IAD,LEX,NaN,7:30 am,11:43 am,United,1,LEX,IAD,Basic Economy,$345,https://www.kayak.com/book/flight?code=noDCOLn...
239,NaN,8:35 am,1:13 pm,United,1,IAD,LEX,NaN,7:30 am,11:43 am,United,1,LEX,IAD,Economy,$403,https://www.kayak.com/book/flight?code=noDCOLn...